*
/*/

!.gitignore
!backend/
!backend/api.py
!backend/database.py
!frontend/
!frontend/ui.py
!crash_log.txt
!requirements.txt
!seed_data.py
!shop.db

**/__pycache__/
**/*.pyc
.vs/
venv/
.env
/seed_data.py
